:root {
  --heading-font-family: 'Ubuntu', sans-serif;
  --default-font-family: 'Poppins', sans-serif;
  --primary-color: rgb(220, 220, 220);
  --secondary-color: rgb(12, 85, 141);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

.about-section h1 {
  font-size: 64px;
  color: var(--secondary-color);
  margin-top: 30px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  font-size: 48px;
  margin: 50px 0 30px;
  color: var(--secondary-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 20px;
  line-height: 1.5;
}

.hero {
  color: var(--primary-color);
  text-align: center;
  background: radial-gradient(263px at 100.2% 3%, rgb(12, 85, 141) 31.1%, rgb(205, 181, 93) 36.4%, rgb(244, 102, 90) 50.9%, rgb(199, 206, 187) 60.7%, rgb(249, 140, 69) 72.5%, rgb(12, 73, 116) 72.6%);
  padding: 100px 0;
}

.hero h2{
  font-size: 24px;
  font-family: var(--default-font-family);
}

.btn-branding{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 30px;
  transition: all 200ms ease-in-out;
}

.recent-project-example .btn-branding {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
  margin-top: 0;
}

.btn-branding:hover {
  background-color: rgb(244, 102, 90);
  
}

.img-rachel {
  width: 300px;
  float: right;
  margin: 0 30px;
  box-shadow: 5px 5px 5px rgb(205, 181, 93);
}

.about-section .img-rachel{
  float: left;
}

.introduction {
  margin: 25px 60px 0px 30px;
}

.recent-project-example {
  text-align: center;
  background-color: var(--primary-color);
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(169, 169, 169);
  margin: 10px 15px 30px;
}



@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    text-shadow: 1px 1px 1px rgb(12, 85, 141);
  }

  h3 {
    font-size: 24px;
    margin: 10px;
  }

  .hero {
    padding: 50px;
  }

  .img-rachel {
    display: none;
  }

  .introduction {
    text-align: center;
    margin: 5px;
  }

  .introduction p{
    font-size: 14px;
  }
    
  .recent-project-example {
    display: block;
    margin: 10px 10px;
  }
}